{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Неверный логин или пароль, попробуйте еще раз</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступа к данной странице, пожалуйста авторизируйтесь в аккаунт с достаточными правами доступа</p>
    {% else %}
    <p>Пожалуйста авторизуйтесь для просмотра данной страницы</p>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
    
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>


<!-- <div class="border d-flex flex-column" style="width:30rem;">
    <div class="mx-4 p-3">
        <div class="text-center my-4">
        <p class="h4 font-weight-bold">Sign in</p>
        </div>
    <form method="post" action="{% url 'login' %}">
            <div class="mb-3">
                <i class="fa fa-user prefix"></i>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="mb-3">
                <i class="fa fa-lock prefix"></i>
                {{ form.password.label_tag }}
                {{ form.password }}

        </div>
        <button style="width:40%;" class="btn btn-success btn-block mt-5 mx-auto">Login</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    </div>
</div> -->

{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}